
node_modules/

elm-stuff/

package-lock\.json

yarn\.lock

build/

*.ldb

*.log

iphod/CURRENT

iphod/LOCK

iphod/LOG

iphod/LOG\.old

*.old

iphod/MANIFEST-000020

lectionary/CURRENT

lectionary/LOCK

lectionary/LOG

lectionary/MANIFEST-000020

~tmp/tmp\.js

~tmp/
